@model ML.Usuario
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href=" https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<script src=" https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
<style>
    table tbody tr:hover {
        background-color: blue;
    }
</style>
<div class="text-center">
    <h2>Registros de la tabla</h2>
    <h5>Usuario</h5>
</div>
<hr />
<a href="@Url.Action("Form","Usuarios")" class="btn btn-success">Agregar </a>
@if (Model.Usuarios.Count > 0)
{
    <table class="table table-bordered" id="example">
        <thead>
            <!-- On rows -->
            <tr class="bg-warning">
                <th>Editar</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>UserName</th>
                <th>Detalles</th>
                <th>Eliminar</th>
                <!-- On cells (`td` or `th`) -->
            </tr>
        </thead>
        <tbody id="cuerpotabla">
            @foreach (ML.Usuario usuarios in Model.Usuarios)
            {
                <tr data-idusuario="@usuarios.IdUsuario">
                    <td id="cuerpotabla"><a class="btn btn-warning" href="@Url.Action("Form", "Usuarios", new { IdUsuario = usuarios.IdUsuario })"><i class="fa-solid fa-pencil fa-bounce" style="color: #332774;"></i></a></td>
                    <td id="cuerpotabla">@usuarios.Nombre</td>
                    <td id="cuerpotabla">@usuarios.ApellidoPaterno @usuarios.ApellidoMaterno</td>
                    <td id="cuerpotabla">@usuarios.UserName</td>
                    <td id="cuerpotabla">
                        <a class="btn btn-info" onclick="GetById(@usuarios.IdUsuario)"><i class="fa-solid fa-circle-info"></i></a>
                    </td>

                    <td id="cuerpotabla"><a class="btn btn-danger" href="@Url.Action("Delete", "Usuarios", new { IdUsuario = usuarios.IdUsuario})" onclick="return confirm('Estas seguro de que quieres eliminar este registro');"> <i class="fa-solid fa-trash fa-beat" style="color: black;"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        No existen registros en la tabla :(
    </div>
}

<div class="modal" id="formulario" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles del Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="Cerrar()" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-5">

            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Detalle</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <h5>
                                Acción completada con éxito
                            </h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" value="Regresar" data-dismiss="modal">Regresar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#cuerpotabla tr').click(function () {
                var idUsuario = $(this).data('idusuario');
                    window.location.href = '@Url.Action("Form", "Usuarios")?IdUsuario=' + idUsuario;
            });

            $('#cuerpotabla tr a.btn').click(function (e) {
                e.stopPropagation();
            });
        });

        function GetById(idUsuarios) {
            $.ajax({
                type: 'GET',
                url: 'http://localhost:5257/api/Usuarios/GetById/' + idUsuarios,
                dataType: 'JSON',
                data: "",
                success: function (result) {
                    var detalles = '<ul>';
                    detalles += '<li>Id Usuario: ' + result.object.idUsuario + '</li>';
                    detalles += '<li>Nombre: ' + result.object.nombre + '</li>';
                    detalles += '<li>Apellido Paterno: ' + result.object.apellidoPaterno + '</li>';
                    detalles += '<li>Apellido Materno: ' + result.object.apellidoMaterno + '</li>';
                    detalles += '<li>Fecha de Nacimiento: ' + result.object.fechaNacimiento + '</li>';
                    detalles += '<li>UserName: ' + result.object.userName + '</li>';
                    detalles += '<li>Password: ' + result.object.password + '</li>';
                    detalles += '</ul>';

                    $('#formulario .modal-body').html(detalles);
                    $('#formulario').modal('show');
                },
                error: function (result) {
                    alert("Ocurrio un error al realizar la consulta: " + result.responseJSON.ErrorMessage);
                }
            });
        };
        function Cerrar() {
            $('#formulario').modal('hide');
        }
    </script>
}